header {
  background-color: var(--primary-color);
}
.icon {
  max-width: 1.5rem;
  width: fit-content;
  margin-right: 0.6rem;
}
.cart-icon-container {
  cursor: pointer;
}
.active {
  color: black !important; /* Add your active styles here */
  font-weight: 500 !important;
}
.cart-bedge {
  background-color: yellow;
  color: black;
  border-radius: 100%;
  font-size: 0.6rem;
  width: fit-content;
  transform: translate(-18px, -10px);
}
@media only screen and (max-width: 600px) {
  .icon {
    margin-bottom: 0.5rem;
  }
}
@media ((min-width: 600px)) and (max-width: 992px) {
  .icon {
    margin-bottom: 0.5rem;
  }
}
