body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.login-container {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 3%;
  width: 30rem;
}

.login-container h2 {
  margin-top: 0;
}

.login-container label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
}

.login-container input {
  width: 100%;
  padding: 8px;
  /* margin-bottom: 15px; */
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: border-color 0.2s;
}

.login-container input:focus {
  border-color: #3498db;
}

.login-btn {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  width: 100%;
  font-weight: bold;
  margin-top: 0.938rem;
}

.login-btn:hover {
  background-color: #2581c5;
}

.signup-link {
  text-align: center;
  margin-top: 10px;
}
